.vscode/
/.vscode/*
*.VC.db
*.VC.VC.opendb
*.vcxproj*
*.pdb
*.ilk
*.obj
*.tlog/
*.lastbuildstate
.vs/

# Ignore other temporary and cache files
.DS_Store
*.swp
*.user
*.userosscache
*.sln.docstates
*.ide.*

LookingGlass/CUDA/
LookingGlass/Dependency-Generator/CUDA/
LookingGlass/Dependency-Generator/TensorRT.zip
LookingGlass/Dependency-Generator/cuda12.3.exe
LookingGlass/Dependency-Generator/cudnn.zip
LookingGlass/Dependency-Generator/injector.exe
LookingGlass/Dependency-Generator/network_requests.har
Model/rtdetr_r18vd_6x_coco-fp16.engine